@import "./variables.module.scss";

.snackbar-container {
  position: absolute;
  bottom: var(--spacingItems);
  right: var(--spacingItems);
  min-width: $snackbarContainerWidth;
  max-width: $snackbarContainerWidth;
}
