@import "tailwindcss";

@theme {
  --font-icon: Material Symbols Rounded;

  --width-gap-1\/12: calc(100% * 1 / 12 - (12 - 1) * (1.25rem / 12));
  --width-gap-2\/12: calc(100% * 2 / 12 - (12 - 2) * (1.25rem / 12));
  --width-gap-3\/12: calc(100% * 3 / 12 - (12 - 3) * (1.25rem / 12));
  --width-gap-4\/12: calc(100% * 4 / 12 - (12 - 4) * (1.25rem / 12));
  --width-gap-5\/12: calc(100% * 5 / 12 - (12 - 5) * (1.25rem / 12));
  --width-gap-6\/12: calc(100% * 6 / 12 - (12 - 6) * (1.25rem / 12));
  --width-gap-7\/12: calc(100% * 7 / 12 - (12 - 7) * (1.25rem / 12));
  --width-gap-8\/12: calc(100% * 8 / 12 - (12 - 8) * (1.25rem / 12));
  --width-gap-9\/12: calc(100% * 9 / 12 - (12 - 9) * (1.25rem / 12));
  --width-gap-10\/12: calc(100% * 10 / 12 - (12 - 10) * (1.25rem / 12));
  --width-gap-11\/12: calc(100% * 11 / 12 - (12 - 11) * (1.25rem / 12));

  --gap-almost-same: 0.25rem;
  --gap-close: 0.5rem;
  --gap-same-level: 1.25rem;
  --gap-other-level: 2rem;
  --gap-other-level-large: 3.75rem;
  --gap-same: unset;

  --margin-almost-same: 0.25rem;
  --margin-close: 0.5rem;
  --margin-same-level: 1.25rem;
  --margin-other-level: 2rem;
  --margin-other-level-large: 3.75rem;
  --margin-same: unset;
  --margin-gap-1\/12: calc(100% * 1 / 12 - (12 - 1) * (1.25rem / 12));
  --margin-gap-2\/12: calc(100% * 2 / 12 - (12 - 2) * (1.25rem / 12));
  --margin-gap-3\/12: calc(100% * 3 / 12 - (12 - 3) * (1.25rem / 12));
  --margin-gap-4\/12: calc(100% * 4 / 12 - (12 - 4) * (1.25rem / 12));
  --margin-gap-5\/12: calc(100% * 5 / 12 - (12 - 5) * (1.25rem / 12));
  --margin-gap-6\/12: calc(100% * 6 / 12 - (12 - 6) * (1.25rem / 12));
  --margin-gap-7\/12: calc(100% * 7 / 12 - (12 - 7) * (1.25rem / 12));
  --margin-gap-8\/12: calc(100% * 8 / 12 - (12 - 8) * (1.25rem / 12));
  --margin-gap-9\/12: calc(100% * 9 / 12 - (12 - 9) * (1.25rem / 12));
  --margin-gap-10\/12: calc(100% * 10 / 12 - (12 - 10) * (1.25rem / 12));
  --margin-gap-11\/12: calc(100% * 11 / 12 - (12 - 11) * (1.25rem / 12));

  --color-page: #512a2f;

  --color-primary-main: #e3613d;
  --color-primary-hover: #d95733;
  --color-primary-pressed: #b94d2a;
  --color-primary-text: #f4e3e3;
  --color-primary-transparent: #f4e3e317;
  --color-primary-icon: #f4e3e3;

  --color-secondary-main: #bb204e;
  --color-secondary-hover: #b21745;
  --color-secondary-pressed: #9e0f3b;
  --color-secondary-text: #f4e3e3;
  --color-secondary-icon: #f4e3e3;

  --color-success-main: #656d4a;
  --color-success-hover: #7b8a5f;
  --color-success-pressed: #4d5639;
  --color-success-text: #2e3222;
  --color-success-icon: #f4e3e3;

  --color-cancel-main: #b6ad90;
  --color-cancel-hover: #c1b8a0;
  --color-cancel-pressed: #a49b7e;
  --color-cancel-text: #615c4c;
  --color-cancel-icon: #f4e3e3;

  --color-remove-main: #d04a47;
  --color-remove-hover: #e05a57;
  --color-remove-pressed: #b63a37;
  --color-remove-text: #3c0e0d;
  --color-remove-icon: #f4e3e3;

  --color-block-100: #6b4345;
  --color-block-200: #5b353a;
  --color-block-300: #512a2f;
  --color-block-400: #461f24;
  --color-block-500: #2f080d;
  --color-block-600: #2a1c18;
  --color-block-700: #241b17;
  --color-block-800: #1d1614;
  --color-block-900: #1c1815;

  --color-menu: #461f24;

  --color-form-main: #141414;
  --color-form-disabled: #272626;
  --color-form-border: #e5e7eb;

  --color-gradient-from-link: #2e141f;
  --color-gradient-to-link: #8a3d5e;

  --color-mask: #212d42;

  --color-title: #edc3b5;
  --color-text: #f4e3e3;

  --z-index-under-mask: 100;

  --z-index-popup-mask: 900;

  --z-index-select: 1000;
  --z-index-modal: 1050;
  --z-index-snackbar: 1100;
  --z-index-top: 2000;

  --radius-button: 5rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  color: #f4e3e3;
  font-size: 16px;
  line-height: 16px;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c5c5c5;
}
