@import "@/ui/constants/styles/globalColors.module.scss";
@import "@/ui/constants/styles/globalSizes.module.scss";
@import "@/ui/constants/styles/globalVariables.module.scss";
@import "@/ui/constants/styles/variables.scss";

html {
  color: var(--colorTextMain);
  font-size: var(--fontSize);
  line-height: var(--fontSize);
}

@media (max-width: $mediumDevices) {
  .main-content {
    padding-top: 50px;
  }
}
